p, body {
	font-family: "Source Sans 3", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.1rem;
}
h1, h2 {
	font-family: "UnifrakturMaguntia", cursive;
	font-weight: 400;
	font-style: normal;
}
h8, h9 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
h3, h4, h5, h6, h7, h10 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
}
h1 {
	font-size: 6.4rem;
	text-transform: lowercase;
}
h2 {
	font-size: 3.19rem;
}
h3 {
	font-size: 1.63rem;
}
h4 {
	font-size: 1.5rem;
}
h8 {
	font-size: 1.1rem;
}
h9 {
	font-size: 0.9rem;
}
h10 {
	font-size: 1.31rem;
}
.ornamentation p {
	font-family: "UnifrakturMaguntia", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 3.4rem;
}
.ornamentation2 p {
	font-family: "UnifrakturMaguntia", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 2.25rem;
	text-transform: lowercase;
}
.ornamentation3 p {
	font-family: "UnifrakturMaguntia", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 17vw;
	text-align: center;
}
.notaheaderh2 p {
	font-family: "UnifrakturMaguntia", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 4rem;
}
.notaheaderh3 p {
	font-family: "UnifrakturMaguntia", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 3.19rem;
}
.notaheaderh5 p {
	font-family: "UnifrakturMaguntia", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 1.63rem;
}
.highlight p {
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
	font-size: 1.5rem;
}
.midlight p {
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
	font-size: 1.3rem;
}
.lowlight p {
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
	font-size: .9rem;
}
.navbar-brand {
    font-family: "UnifrakturMaguntia", cursive;
	font-weight: 400;
	font-style: normal;
    font-size: 2.3rem;
    color: #ffffff !important;
	text-decoration: none !important;
	text-transform: lowercase !important;
}
.navbar-text {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 1.63rem;
	color: #ffffff !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
}
.navbar-nav {
	font-size: 1.2rem;
	color: #ffffff !important;
	text-decoration: none !important;
}
.nav-item {
	text-decoration: none !important;
	text-transform: uppercase !important;
}
.nav-link {
	text-decoration: none !important;
	text-transform: uppercase !important;
}
.navbar-custom-bg {
	background-color: #0A2243;
}
.dropdown-item:hover {
	background-color: #625079 !important;
	color: #D2AFD4 !important;
	text-decoration: none !important;
}
.dropdown-divider {
	border-top: 1px solid #625079 !important;
}
.dropdown-menu {
	background-color: #0a2243;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.vspacehalfem {
    clear: both;
    height: .5em;
}
div.vspace1em {
    clear: both;
    height: 1em;
}
div.vspace2em {
    clear: both;
    height: 2em;
}
div.vspace3em {
    clear: both;
    height: 3em;
}
div.whitediv {
    background-color: #FFFAF0;
}
div.reddiv{
	background-color: #EB4A67;
}
div.navydiv {
	background-color:#0a2243;
}
div.orangediv{
	background-color: #E3920D;
}
div.bluediv{
	background-color: #133E79;
}
div.greendiv {
	background-color: #377B67;
}
img {
    object-fit: contain;
    width: 100%;
    /*padding: 5% 2% 5% 2%;*/
}
img.img-fluid.quote {
	max-width: 15%;
	height: auto;
}
img.img-fluid.unquote {
	max-width: 15%;
	height: auto;
	float: right;
}
/*img.img-case-study {
    object-fit: contain;
    width: 100%;
    padding: 3% 2% 3% 2%;
}*/
footer {
    text-align: center;
	background-color: #0a2243;
	color: #FFFFFF;
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
.footer p {
	font-size: 1.1rem;
}
.footerhighlight p {
	font-size: 2.25rem;
	font-family: "UnifrakturMaguntia", cursive;
	font-weight: 400;
	font-style: normal;
}
#greentext {
	color: #377B67;
}
#redtext{
	color: #EB4A67;
}
#blacktext {
    color: #141A18;
}
#whitetext {
    color: #FFFFFF;
}
.whitetext {
	color: #FFFFFF;
}
#navytext {
	color:#0a2243;
}
#orangetext{
	color: #E3920D;
}
#bluetext{
	color: #133E79;
}
#creamtext{
	color: #FFFAF0;
}
#navbartext {
	color: #ffffff;
}
#lightestgraytext {
	color: #FFFAF0;
}
.btn-primary, .btn-primary:visited {
    background-color: #0a2243 !important;
	font-family: "UnifrakturMaguntia", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 1.63rem;
	color: #FFFFFF !important;
	margin: 0rem !important;
	padding: 0.35rem 1.5rem !important;
	border-color: #FFFFFF;
	border-radius: 0.2rem !important;
}
.btn-primary:hover, .btn-primary:active {
    background-color: #625079 !important;
	font-family: "UnifrakturMaguntia", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 1.63rem;
	color: #D2AFD4 !important;
	margin: 0rem !important;
	padding: 0.35rem 1.5rem !important;
	border-color: #625079;
	border-radius: 0.1rem !important;
}
a {
	color: #b7e6e1;
	text-decoration: underline;
}
a:hover {
	color: #E3920D;
	text-decoration: underline;
}
.secondary-link {
  color: #17498F;
  text-decoration: underline;
}
.secondary-link:hover {
	color: #E3920D;
	text-decoration: underline;
}
.hero-text {
  text-align: left;
  position: absolute;
  top: 10% !important;
  left: 10% !important;
  /*bottom: 10%;
  right: 10%;*/
}
.blockquote {
    display: block;
	border-radius: .01rem;
	background-size: cover;
	background: url(Images/blockquote-image.png)"
}
.blockquote h6 {
	color: #E3920D;
	text-align: right;
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
    font-weight: 300;
	text-transform: uppercase;
	font-size: 1.1rem; 
	letter-spacing: 3px;
	padding-top: 1rem;
}
.blockquote p{
	color: #ffffff;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
	font-size: 1.2rem;
	padding: 3rem;
}
section {
	padding: 0rem;
	margin: 0rem;
	overflow: auto;
}
